#profile-img {
    border-radius: 50%;
    border: solid 5px;
    overflow: hidden;
    height: 10rem;
    text-align: center;
    display: block;
    margin: auto; 
}

#about-para {
    background-color: var(--yellow);
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 4px solid;
    font-size: 1.2rem;
}

#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    #about-section {
        flex-direction: row !important;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    #about-para {
        width: 50%;
    }

    #profile-img {
        height: 20rem;
    }
}

@media screen and (min-width: 1300px) {
    #about-section {
        width: 60%;
    }
}