h1 {
    text-align: center;
    margin: 1rem !important;
}

form {
    background-color: var(--yellow);
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 4px solid
}

label {
    font-size: 1.2rem;
}

button {
    color: var(--yellow) !important;
    background-color: var(--purple) !important;
}

button:hover {
    opacity: 75%;
}

.error-text {
    font-size: 1.5rem;
}