footer {
    color: var(--teal);
    background-color: var(--purple);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
}

/* Footer icons style and hover effect */
.fa-brands, .fa-solid {
    font-size: 3rem;
    margin: 1rem;
    color: var(--teal);
}

.footer-icon:hover {
    color: var(--yellow);
}