.nav-item a {
    color: var(--teal);
}

.nav-item a:hover {
    color: var(--yellow);
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
    }
}