.nav-item a {
    color: var(--teal);
    font-size: 1.2rem;
}

.nav-item a:hover {
    color: var(--yellow);
}

/* Smaller screens - navbar items shown vertically */
.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Larger screens - navbar items shown horizontally */
@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
    }
}